@import "../variables";

.CountNormaForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  div {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;

    .radio {
      color: #115211;
    }
  }

  label {
    margin-bottom: 12px;
  }

  input {
    display: block;
  }
}