@import "../variables";

.RecipePage {

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  img {
    width: 260px;
    height: 260px;
  }

  a {
    font-weight: 700;
    font-size: 18px;
  }

  .label {
    font-family: $header-text;
    font-size: 36px;
    font-style: italic;
  }

  .info-container {
    display: flex;
    gap: 30px;

    div {
      width: 250px;

      span {
        font-weight: 700;
      }

      div {
        margin-bottom: 10px;
      }
    }
  }
}