@import "../variables";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: $basic-text;
  font-size: 16px;
  color: $dark;
  position: relative;
}

a {
  text-decoration: none;
  color: $dark;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  li {
    margin-bottom: 7px;
  }
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  background-color: $accent;
  border: 2px solid $accent;
  border-radius: $radius;
  color: #fff;
}

button:hover, button:active {
  background-color: #538a53;
  border: 2px solid #538a53;
  cursor: pointer;
  transition: 0.3s;
}

input {
  outline: none;
  border-radius: $radius;
  border: 2px solid $accent;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;

    .content_left {
      width: 880px;
    }
  }
}


