@import "../variables";

.CountNormaForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;

  div {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;

    .radio {
      color: #115211;
    }
  }

  input {
    display: block;
  }
}

.error-message {
  color: #ef6938;
  position: relative;
}
