@import "../variables";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  background-color: rgb($accent, 0.4);
  border-radius: $radius;

  .icon {
    background-image: url("pizza-icon.png");
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.dropdown {
  .dropdown-content {
    display: none;

  }
}

.dropdown:hover, .dropdown:active{
  .dropdown-content {
    //margin-top: 3px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background-color: rgb($accent, 0.6);
    z-index: 1;

    a {
      color: white;
    }
  }
}