@import "../variables";

.MyRecipes {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: $header-text;
    font-weight: 700;
    font-style: italic;
  }
}

.calories-sum {
  border-top: 1px solid $dark;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}