@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;1,300&display=swap');
$accent: #bed9be;
$dark: #0d4b0d;

$radius: 3px;

$basic-text: Roboto, sans-serif;
$header-text: Raleway, sans-serif;
