@import "variables";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: $basic-text;
  font-size: 16px;
  color: $dark;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;

  .header {
    height: 80px;
    border: 2px solid #a7c7a7;
  }

  .content {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    .recipes {
      border: 2px solid #a7c7a7;
      width: 900px;
    }
  }
}