@import "variables";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: $basic-text;
  font-size: 16px;
  color: $dark;
  position: relative;
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 5px;
  background-color: $accent;
  border: 2px solid $accent;
  border-radius: $radius;
  color: #fff;
  font-weight: 700;
}

input {
  outline: none;
  border-radius: $radius;
  border: 2px solid $accent;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .content {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

