@import "variables";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  background-color: rgb($accent, 0.4);
  border-radius: $radius;
}